.mainTabel{
    margin-left: auto;
    margin-right: auto;
}
thead{
  background-color: grey;
}
tr,td{
    padding: 10px;
    border: 1px solid rgb(219, 218, 218);
    border-radius: 10px;
}
.btn{
    padding: 5px;
}
.btn1{
    padding: 5px;
    background-color: lightblue;
    border: 1px solid lightblue;
    border-radius: 5px;
    cursor: pointer;
}
.btn1:hover{
    background-color: rgb(77, 193, 231);
}
